<div class="container my-5">
    <section>
  
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-12">
  
          <div class="view zoom z-depth-1 rounded mb-4">
            <a href="#!">
  
              <img src="https://mdbootstrap.com/img/Photos/Others/product1.jpg" class="img-fluid" alt="sample image">
              <div class="mask rgba-black-gradient d-md-flex align-items-end">
                <div class="text-bottom white-text p-4">
                  <span class="badge badge-danger">Coming Soon</span>
                  <h3 class="card-title font-weight-bold mt-2 mb-1">Bose SoundSport Wireless Headphones</h3>
                  <p class="font-weight-normal mb-2">Bose CEO has confirmed that the wireless headphones will be launching
                    on 14 April. The event will be online and there will be a livestream so that everyone can follow the
                    action from home. It will be hosted at 11am EST.</p>
  
                </div>
              </div>
            </a>
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!-- Section: Block Content -->
  
  
  
  
  </div>
  
  <!--Main layout-->
  <main class="mt-5">
  
    <!--Main container-->
    <div class="container">
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
  
          <!--Card-->
          <div class="card">
  
            <!--Card image-->
            <div class="view zoom">
              <img src="https://mdbootstrap.com/img/Photos/Others/product3.jpg" class="card-img-top" alt="">
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
  
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Sony BWT 450</h4>
              <!--Text-->
              <p class="card-text">Enjoy With Dolby Atmos Sound.</p>
  
            </div>
  
          </div>
          <!--/.Card-->
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
  
          <!--Card-->
          <div class="card">
  
            <!--Card image-->
            <div class="view zoom">
              <img src="../assets/Easy Buy/SatishReddy.jpg" class="card-img-top" alt="">
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
  
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Easy Buy</h4>
              <!--Text-->
              <p class="card-text">Hi Every One,
                My Self Satish Reddy,iam happy to say that Soonly iam going to launch eCommerce project with latest
                technology Angular 9 and MicroServices (SpringBoot) and Docker..Please Stay on...
              </p>
  
            </div>
  
          </div>
          <!--/.Card-->
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
  
          <!--Card-->
          <div class="card">
  
            <!--Card image-->
            <div class="view zoom">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap">
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
  
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Lenovo Ideapad-538S</h4>
              <!--Text-->
              <p class="card-text">The Ideapad 530S is effortlessly portable, at 16.8 mm and 1.69 kg,with multiple color
                options. Available in Onyx Black, Copper, Liquid Blue, and Mineral Grey..
                Hurry Up.................
              </p>
            </div>
  
          </div>
          <!--/.Card-->
  
        </div>
  
  
      </div>
      <!--Grid row-->
  
  
    </div>
    <!--Main container-->
  
    <div class="row mb-5">
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <div class="card collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" class="img-fluid"
              alt="E-commerce">
            <div class="stripe dark">
              <a>
                <p>Red trousers
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </div>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <div class="card collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" class="img-fluid"
              alt="E-commerce">
            <div class="stripe light">
              <a>
                <p>Sweatshirt
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </div>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <div class="card collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" class="img-fluid"
              alt="E-commerce">
            <div class="stripe dark">
              <a>
                <p>Accessories
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </div>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Fourth column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <div class="card collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" class="img-fluid"
              alt="E-commerce">
            <div class="stripe light">
              <a>
                <p>Sweatshirt
                  <i class="fa fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </div>
        <!--Collection card-->
  
      </div>
      <!--Fourth column-->
  
    </div>
  </main>
  <!--Main layout-->
  